* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        background-image: url("images/film-roll.png");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

body, html {
        height: 100%;
}

.main-container {
        max-width: 1100px;
        margin: 30px auto 0 auto;
        background-color: white;
        opacity: .92;
        border: solid black thick;
    }
.result {
        padding-right: 20px;
}

.result {
        display: inline-block;
}

.fandango {
        float: right;
        margin-left: 820px;
        margin-top: -70px;
        color: white;
        position: absolute;
}

.tomatoes {
        color: black;
        margin-left: 900px;
        position: absolute;
        color: white;
        margin-top: -70px;
        float: right;
}

.imbd {
        margin-left: 1025px;
        position: absolute;
        color: white;
        margin-top: -70px;
        float: right;
}

.brand-logo {
        z-index: 1;
}

.logo-label {
        margin-left: 30px;
}

.movie-icon {
        position: relative;
        margin-left: -140px;
}

.headline {
        margin-left: 30px;
}

.form-search {
        margin-bottom: 15px;
        width: 900px;
        padding-left: 30px;
}

.search-icon {
        font-size: 18px;

}

table {
        float: right;
        border: thick black solid;
        margin-top: 20px;
        width: 35%;
}

.chart-head {
        background-color: lightcoral;
        font-size: 20px;
        font-weight: bold;
        color: white;
}

.chart-body {
        background-color: white;
}

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightcoral;
        color: black;
        text-align: center;
    }